<ion-header>
  <ion-toolbar>
    <ion-title class="textcenter">seguridad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="dark" mode="ios">

    <ion-segment-button value="Robos" checked mode="ios">
      <ion-label>
        <ion-icon src="assets/img/seguridad/robos.svg">
        </ion-icon>
        Robos
      </ion-label>
    </ion-segment-button>

    <ion-segment-button value="Incendio" mode="ios">
      <ion-label>Incendio</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Emergencia" mode="ios">
      <ion-label>Emergencia</ion-label>
    </ion-segment-button>
  </ion-segment>



  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <!-- <ion-fab-button routerLink="/idea"> -->
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-item button [routerLink]="['/idea', coordenada.id]" *ngFor="let coordenada of (coordenadas | async)">
      longitud: {{ coordenada.longitud }} , latitud: {{ coordenada.latitud }}
    </ion-item>
  </ion-list>
</ion-content>