.button-submit {
    background: linear-gradient(#d85636 20%, #994a15 100%, #0c1a0f 100%);
    border:black;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }