<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="seguridad">
      <ion-icon name="aperture"></ion-icon>
      <ion-label>Seguridad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="informativo">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Información</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>
