.button-submit {
    background: linear-gradient(#900710 0%, #e6392a 100%, #fc9970 100%);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 90%;
    height: 50%;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }